body
{
	background-color: #222;
}

div
{
	box-sizing: border-box;
	margin: 10px 0;
}

p
{
	font-family: 'Oxygen', sans-serif;
	font-weight: 100;
	font-size: 40px;
	text-align: center;
	padding-bottom: 0px;
}

a
{
	text-decoration: none;
	margin: 0 40px;
	color: #f6E58D;
}

a:visited
{
	color: #ffbe76;
}

.parent
{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -200px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: 100;
}

#name
{
	font-size: 100px;
	color: #6dd3ce;
}

#title
{
	font-size: 20px;
	color: #c8e9a0;
}

.content
{
	padding-top: 10px;
	font-size: 40px;
	float: center;
}

.Projects
{
	font-size: 40px;
}


.twitter
{
	font-size: 40px;
}

.linkedin
{
	font-size: 40px;
}

.contact
{
	font-size: 40px;
}
